body {
  height: 1550px;
}
#topLevel {
  box-shadow: inset 0px 0px 200px 100px rgba(0,0,0,0.9);
  background: url('dark-wood.jpg') no-repeat;
  background-size: cover;
  width: auto;
  height: 1500px;
}

#content {
  padding: 10%;
  width: inherit;
  height: inherit;
  z-index: -1;
}

.canDrag {
  box-shadow: -3px 5px 15px rgba(0,0,0,0.9);
  width: 637px;
  height: 825px;
  cursor: pointer;
}

.canDrag.ui-draggable-dragging {
  box-shadow: -10px 12px 20px 10px rgba(0,0,0,0.5);
}

.text {
  cursor: text;
}

#redBox{
  background: url('paper1.jpg') no-repeat;
  background-size: cover;
  float: left;
  top: 3%;
  left: 20%;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}

#blueBox {
  background: url('paper2.jpg') no-repeat;
  background-size: cover;
  float: left;
  top: -55%;
  left: 15%;
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);
}

#greenBox {
  background: url('paper1.jpg') no-repeat;
  background-size: cover;
  float: left;
  top: -100%;
  left: 17%;
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
  transform: rotate(1deg);
}
