/*Site-wide*/

@font-face {
  font-family: Polyglott; src: url('TTWPGOTT.ttf');
}

body {
  background-color: black;
  height: 1200px;
  font-family: Polyglott;
  font-size: 18px;
}

a:link, a:visited {
	color: black;
	-webkit-transition: color .25s linear .1s;
	transition; color .25s linear .1s;
}

a:hover {
	color: grey;
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
}

/*Containers*/

#topLevel {
  box-shadow: inset 0px 0px 200px 100px rgba(0,0,0,0.9);
  background: url('dark-wood.jpg') no-repeat;
  background-size: cover;
  width: auto;
  height: 1500px;
  z-index: 100;
}

#content {
  padding: 10%;
  width: inherit;
  height: 1200px;
  z-index: -1;
}

/*Decorative*/

#drink {
  background: url('jackdaniels.jpg') no-repeat;
  background-size: cover;
  border-radius: 190px;
  box-shadow: inset 10px 10px 50px 25px rgba(0,0,0,0.9);
  margin-left: -100px;
  margin-top: -100px;
  position: absolute;
  height: 400px;
  width: 420px;
}

#photo {
  background: url('newme.jpg') no-repeat;
  background-size: cover;
  box-shadow: -3px 5px 15px rgba(0,0,0,0.9);
  top: 25%;
  right: 15%;
  position: absolute;
  height: 420px;
  width: 420px;
  -ms-transform: rotate(4deg); /* IE 9 */
  -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
  transform: rotate(4deg);
}

.canDrag {
  box-shadow: -3px 5px 15px rgba(0,0,0,0.9);
  padding: 0px 25px 0px 25px;
  width: 637px;
  height: 825px;
  cursor: pointer;
}

.canDrag.ui-draggable-dragging {
  -webkit-box-shadow: -20px 12px 36px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: -20px 12px 36px 4px rgba(0,0,0,0.75);
  box-shadow: -20px 12px 36px 4px rgba(0,0,0,0.75);
}

.text {
  cursor: text;
}

/*Draggable Items*/

#workBox{
  background: url('paper1.jpg') no-repeat;
  background-size: cover;
  float: left;
  top: 3%;
  left: 20%;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}

#educationBox {
  background: url('paper2.jpg') no-repeat;
  background-size: cover;
  float: left;
  top: -55%;
  left: 15%;
  -ms-transform: rotate(-1deg); /* IE 9 */
  -webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
  transform: rotate(-1deg);
}

#skillBox {
  background: url('paper1.jpg') no-repeat;
  background-size: cover;
  float: left;
  top: -115%;
  left: 17%;
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
  transform: rotate(1deg);
}

html {
  max-height:100vh;
}

/*Social Media*/

#socialMedia {
  height: auto;
  position: absolute;
  top: 150%;
  right: 2%;
}

.mediaButtons {
  background-color: tomato;
  height: 75px;
  margin: 5px;
  width: 75px;
}

#linkedIn {
  background: url('linked-in.png');
  background-size: cover;
}

#twitter {
  background: url('twitter.png');
  background-size: cover;
}

#footer {
  background: -webkit-linear-gradient(200deg, rgb(105,76,60), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(200deg, rgb(105,76,60), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(200deg, rgb(105,76,60), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(200deg, rgb(105,76,60), black); /* Standard syntax */
  box-shadow: inset 1px 1px 2px 2px rgba(0,0,0,0.9);
  width: 100%;
  height: 80px;
}

#signature {
  color: rgb(105,76,60);
  left: 4%;
  position: absolute;
}

#ffLogo {
  position: absolute;
  background-size: cover;
  right: 4%;
  margin-top: 20px;
}
